<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <h1 class=" navbar-brand">DAILY JOURNAL</h1>
        </div>

        <ul class="nav  navbar-right">
            <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
            <li id="compose"><a href="/compose">Compose</a></li>
        </ul>

    </div>
</div>

<body>
    <div class="container">