<%- include("partials/header")-%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <label for="newTitle">Title</label><br>
        <input type="text" name="newTitle" id="" value="" className=""><br>
        <label for="newPost">Post</label><br>
        <textarea name="newPost" id=""></textarea><br>
        <button type="submit" class="btn btn-primary">publish</button>
    </form>
    <%- include("partials/footer.ejs")-%>